@import url('https://fonts.googleapis.com/css2?family=Bellota+Text:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

/* ---- base ---- */

h1 {
    margin: 0;
    padding-top: 30px;
}

.award-title {
    color: #FFF;
    text-shadow: 0 0 4px rgba(0, 0, 0, 0.25);
    font-family: "Bellota Text", sans-serif;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
}

section {
    display: flex;
    flex-direction: column; /* Stack children vertically */
    align-items: center; /* Center horizontally */
}

h3 {
    margin-top: 0;
}

.award-category {
    color: #776015;
    text-align: center;
    font-family: "Bellota Text", sans-serif;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
    margin: 0;
}

/* ---- award container ---- */

.detail_container{
    width: 60%;
}

/* ---- small selection bar ---- */

.category_selection {
    font-family: "Bellota Text", sans-serif;
    font-size: 30px;
    text-decoration: none;
    border-bottom: 3px solid white;
    padding-top: 5px;
    text-align: center;
    display: inline-block;
    justify-content: initial;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-bottom: 15px;
}

.detail_name {
    color: white;
    padding: 10px 10px;
    text-decoration: none;
    padding: 5px 10px 0 10px;
}

.detail_active {
    color: white;
    background: linear-gradient(135deg, #F8D666 0%, #D3AF3B 18.75%, #BD9D35 36.06%, #6D5B1E 100%);
    text-decoration: none;
    padding: 5px 10px 0 10px;
}

/* ---- table info  ---- */

#table-container {
    border-radius: 24px;
    background: #191712;
    box-shadow: 0 4px 6px 0 rgba(255, 255, 255, 0.25) inset, 0 4px 20px 0 rgba(0, 0, 0, 0.25);
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    border: 20px solid;
    padding: 32px;
    overflow: hidden;
    border-radius: 20px;
}

table tbody {
  display: block;
  max-height: 300px;
  overflow-y: scroll;
}

table thead, table tbody tr {
  display: table;
  width: 100%;
  table-layout: fixed;
}
.column_name {
    text-shadow: 0 0 4px rgba(0, 0, 0, 0.25);
    font-family: "Bellota Text";
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
    background: var(--gold-simple, linear-gradient(135deg, #F8D666 0%, #D3AF3B 18.75%, #BD9D35 36.06%, #6D5B1E 100%));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

td {
    color: #FFF;
    text-shadow: 0 0 4px rgba(0, 0, 0, 0.25);
    font-family: "Bellota Text";
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
}

table td:nth-child(1), table th:nth-child(1), table td:nth-child(2), table th:nth-child(2) { text-align: start; }
table td:nth-child(3), table th:nth-child(3), table td:nth-child(4), table th:nth-child(4) { text-align: end; }

/* First place */
tr:nth-child(1) .rank {
    color: gold;
}

/* Second place */
tr:nth-child(2) .rank {
    color: rgb(196, 184, 184);
}

/* Third place */
tr:nth-child(3) .rank {
    color: #e08830; /* Bronze color */
}

/* Second place */
tr:nth-child(n+4) .rank {
    color: rgb(122, 122, 122);
}

.go-back {
    color: white;
    text-align: center;
    font-family: "Bellota Text", sans-serif;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
    margin: 0;
    margin-top: 10px;
    text-decoration: none;
}