html {
    background: #121212;
}

body {
    margin: 0;
    padding: 0;
}

.header-rails {
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.header-rails {
    background-image: url(../assets/rail-tile.svg);
    background-repeat: repeat-x;
    background-size: contain;
    animation: header-rails 30s linear infinite;
}

@keyframes header-rails {
    0% {
        background-position: 0 0;
    }
    100% {
        background-position: 100% 0;
    }
}

#red-carpet {
    position: fixed;
    z-index: -100;
    bottom: 0;
    width: 100%;
    height: 150px;
    pointer-events: none; /* Allow clicks to pass through */
}

.stage-light {
    fill: rgba(248, 204, 135, 0.20);
    position: fixed;
    z-index: -100;
    top: -10px;
}

.stage-light.left {
    left: -10px;
    transform-origin: 0% 0%;
    animation: stage-light 5s infinite alternate ease-in-out;
}

.stage-light.right {
    right: -10px;
    animation: stage-light 5s infinite alternate ease-in-out;
    transform-origin: 100% 0%;
}

.railings-container {
    position: fixed;
    display: flex;
    bottom: 10px;
    width: 100%;
    height: 300px;
    pointer-events: none; /* Allow clicks to pass through */
    z-index: -100;
    justify-content: space-between;
}

.railing {
    background-image: url(../assets/railing.svg);
}

.railing.left {
    margin-left: 20px;
    width: 200px;
    height: 100%;
    background-size: contain;
    background-repeat: no-repeat;
}

.railing.right {
    margin-right: 20px;
    width: 200px;
    height: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    transform: rotateY(180deg);
}

@keyframes stage-light {
    0% {
        transform: rotate(5deg);
    }
    100% {
        transform: rotate(-5deg);
    }
}

@media (max-width: 1100px) {
    .railings-container {
        bottom: 8px;
    }

    .railing.left, .railing.right {
        width: 150px;
    }

    .railing.left, .railing.right {
        width: 100%;
        height: 105%;
    }

    #red-carpet {
        height: 105px;
    }
}

@media (max-width: 768px) {
    .railings-container {
        bottom: -20px;
    }

    .railing.left, .railing.right {
        width: 105%;
        height: 105%;
    }

    #red-carpet {
        height: 70px;
    }
}

@media (max-width: 480px) {
    .railings-container {
        bottom: 4px;
    }

    .railing.left, .railing.right {
        width: 120%;
        height: 150%;
    }

    #red-carpet {
        height: 50px;
    }
}

@media (max-width: 430px) {
    .railings-container {
        display: none;
    }

    #red-carpet {
        height: 40px;
    }
}