@import url("https://fonts.googleapis.com/css2?family=Bellota+Text:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap");

/* ---- base ---- */

header {
    position: relative;
    text-align: center;
    font-family: "Bellota Text", sans-serif;
    font-size: 25px;
    background: var(--gold-simple, linear-gradient(135deg, #f8d666 0%, #d3af3b 18.75%, #bd9d35 36.06%, #6d5b1e 100%));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-top: 20px;
}

h1 {
    margin: 0;
    font-size: 58px;
    padding-top: 20px;
    line-height: 58px;
    text-transform: uppercase;
}

h2 {
    margin: 0;
    padding-bottom: 20px;
    text-transform: uppercase;
}

.award-day-txt {
    color: #fff;
    text-shadow: 0 0 4px rgba(0, 0, 0, 0.25);
    font-family: "Bellota Text", sans-serif;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
    padding: 10px;
    text-align: center;
}

section {
    display: flex;
    flex-direction: column; /* Stack children vertically */
    align-items: center; /* Center horizontally */
    height: 100vh;
}

/* ---- award container and item build ---- */

.award-container {
    display: flex;
    flex-wrap: wrap;
    /* background-color: rgb(0, 0, 0); */
    justify-content: center;
    width: 80%;
    gap: 30px;
    padding-bottom: 50px;
}

.award-item {
    /* background-color: #f1f1f1; */
    background: linear-gradient(135deg, #f8d666 0%, #d3af3b 18.75%, #bd9d35 36.06%, #6d5b1e 100%);
    box-shadow: 0 4px 6px 0 rgba(255, 255, 255, 0.25) inset;
    filter: drop-shadow(0 4px 20px rgba(0, 0, 0, 0.25));
    padding: 20px;
    font-size: 24px;
    width: 320px;
    height: 320px;
    -webkit-mask-image: radial-gradient(circle at top left, transparent 0, transparent 20px, black 21px), radial-gradient(circle at top right, transparent 0, transparent 20px, black 21px), radial-gradient(circle at bottom left, transparent 0, transparent 20px, black 21px), radial-gradient(circle at bottom right, transparent 0, transparent 20px, black 21px);
    -webkit-mask-position: top left, top right, bottom left, bottom right;
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-size: 50% 50%;
    mask-image: radial-gradient(circle at top left, transparent 0, transparent 20px, black 21px), radial-gradient(circle at top right, transparent 0, transparent 20px, black 21px), radial-gradient(circle at bottom left, transparent 0, transparent 20px, black 21px), radial-gradient(circle at bottom right, transparent 0, transparent 20px, black 21px);
    mask-position: top left, top right, bottom left, bottom right;
    mask-repeat: no-repeat;
    mask-size: 50% 50%;
    transition: 0.2s ease-in-out;
}

.award-item:hover {
    transform: scale(1.05);
}

.award-item:after {
    content: "";
    position: absolute;
    top: -110%;
    left: -210%;
    width: 200%;
    height: 200%;
    opacity: 0;
    transform: rotate(30deg);

    background: rgba(255, 255, 255, 0.13);
    background: linear-gradient(to right, rgba(255, 255, 255, 0.13) 0%, rgba(255, 255, 255, 0.13) 77%, rgba(255, 255, 255, 0.5) 92%, rgba(255, 255, 255, 0) 100%);
}

/*---
  hover trigger
---*/

.award-item:hover:after {
    opacity: 1;
    top: -30%;
    left: -30%;
    transition-property: left, top, opacity;
    transition-duration: 0.7s, 0.7s, 0.15s;
    transition-timing-function: ease;
}

/*---
  active state
---*/

.award-item:active:after {
    opacity: 0;
}

h3 {
    margin-top: 0;
}

.award-category {
    color: #776015;
    text-align: center;
    font-family: "Bellota Text", sans-serif;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
    margin: 0;
}

/* ---- text styles for award items ---- */

.award-link {
    text-decoration: none;
}

.award-winner-short {
    color: #fff;
    text-align: center;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: #000;
    font-family: "Bellota Text", sans-serif;
    font-size: 94px;
    font-style: normal;
    text-transform: uppercase;
    margin: 20px;
    font-weight: bolder;
}

.award-winner-long {
    color: #fff;
    text-align: center;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: #000;
    font-family: "Bellota Text", sans-serif;
    font-size: 50px;
    font-style: normal;
    text-transform: uppercase;
    margin: 20px;
    font-weight: bolder;
    overflow-wrap: break-word;
    flex-direction: column;
    justify-content: center;
    height: 50%;
}

.award-subtext {
    color: #fff;
    text-align: center;
    font-family: "Bellota Text", sans-serif;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
    margin: 0;
    font-weight: bolder;
    position: absolute;
    left: 50%;
    bottom: 60px;
    transform: translateX(-50%);
    width: 100%;
}

.find-out-more {
    color: #000;
    text-align: center;
    font-family: "Bellota Text", sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
    margin-top: auto;
    margin-bottom: 10px;
    width: 100%;
    position: absolute;
    left: 50%;
    bottom: 10px;
    transform: translateX(-50%);
}

@media (max-width: 768px) {

}

@media (max-width: 480px) {

}   